body{
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
.container{
    margin: 0 auto;
    margin-bottom: 30px;
    width: 95%;
    text-align: center;
}
.title{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: #ff9280;
    font-weight: 100;
}
.list{
    background: #fff;
    text-align: left;
    position: relative;
}
.list__input__text{
    padding: 8px 65px 8px 10px;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #aaa;
    outline: 0;
}
.list__input__text::placeholder{
    color: #ddd;
    opacity: 1;
}
.list__input__btnAdd{
    height: 39px;
    font-size: 16px;
    color: #fff;
    background: #ff9280;
    border: 0;
    outline: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.list__input__btnAdd:hover{
    background: #fa6a51;
}
.item{
    padding-left: 10px;
    min-height: 42px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item:hover{
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
    z-index: 1;
}
.done{
    width: 25px;
    height: 25px;
    border: 2px solid #aaa;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: relative;
}
.done--pink,
.done:active{
    border: 2px solid #fa6a51;
    background: #ff9280;
}
.content{
    margin: 5px 0;
    padding: 0 5px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}
.content-done{
    color: #aaa;
    font-style: italic;
    text-decoration: line-through;
}
.delete{
    font-size: 16px;
    color: #fff;
    background: #cacaca;
    border: 0;
    outline: 0;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    visibility: visible;
}
.delete:hover{
    background: #979696;
}

@media screen and (min-width: 576px){
    .container{
        max-width: 700px;
    }
    .title{
        font-size: 90px;
    }
    .list__input__text{
        font-size: 24px;
    }
    .list__input__btnAdd{
        height: 45px;
    }
    .list__input__btnAdd,
    .content,
    .delete{
        font-size: 20px;
    }
    .delete{
        visibility: hidden;
    }
    .item:hover > .delete{
        visibility: visible;
    }
}