<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>week11 hw2</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="./dist/css/style.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">短網址</a>
    </nav>
    <div class="background"></div>
    <section class="maincontent">
        <div class="container">
            <div class="shortener">
                <input type="text" class="shortener__url" placeholder="請輸入網址">
                <button class="shortener__btn">確認</button>
            </div>
            <div class="newurl">
                <p>短網址：<a class="newurl__url"></a></p>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <p>Mentor-Program Week11 Homework2. Made by <a href="https://github.com/Lidemy/mentor-program-2nd-zzly00">Lin <i class="fab fa-github"></i></a>.</p>
            <p>Photo by Thought Catalog on <a href="https://unsplash.com/" rel="nofollow" target="_blank">Unsplash</a>. Icons from <a href="http://fontawesome.io/" rel="nofollow" target="_blank">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow" target="_blank">Google</a>.</p>
        </div>
    </footer>
    <script src="//cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    <script src="./dist/js/bundle.js"></script> 
</body>
</html>