<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <p>Mentor-Program Week11 Homework1. Made by <a href="https://github.com/Lidemy/mentor-program-2nd-zzly00">Lin <i class="fab fa-github"></i></a>.</p>
                <p>Based on <a href="https://getbootstrap.com" rel="nofollow" target="_blank">Bootstrap</a> & <a href="https://bootswatch.com/superhero/" rel="nofollow" target="_blank">Bootswatch - Thomas Park</a>. Icons from <a href="https://www.flaticon.com/" rel="nofollow" target="_blank">Flaticon</a> & <a href="http://fontawesome.io/" rel="nofollow" target="_blank">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow" target="_blank">Google</a>.</p>
            </div>
            <div class="col-2">
                <a href="#top" class="float-right"><i class="far fa-arrow-alt-circle-up"></i></a>
            </div>
        </div>
    </div>
</footer>