<!DOCTYPE html>
<html>
<head>
    <%- include('head')%>
</head>
<body>
    <%- include('navbar')%>
    <div class="container">
        <div class="comment__edit parent" data-num="0">
        </div>
        <div class="comment__list">
        </div>
        <div class="comment__page">
        </div>
    </div>
    <%- include('footer')%>
    <%- include('scripts')%>
    <script src="./js/comment.js"></script>
</body>
</html>